.jumbotron {
    padding: 20px 20px;
    background-color: rgb(3, 61, 158);
    color: white;
}
header h1{
    color: white;
}
footer{
    background-color: rgb(3, 61, 158);
}
.navbar-custom {
    background-color: rgb(34, 177, 76);
    font-weight: bold;
}
.navbar-nav .nav-item.active .nav-link {
    background-color: #f30c0c;
}